In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/fm_training.csv')
data.head()

,Unnamed: 0,weekday,hour,IP,region,city,adexchange,domain,slotid,slotwidth,slotheight,slotvisibility,slotformat,creative,advertiser,useragent,slotprice,click
0,1494176,0,20,204670,7,86,0,1668,41659,9,6,2,1,15,0,30,0,0
1,1744779,0,22,415654,11,127,0,3334,41636,6,2,2,1,45,4,30,0,0
2,270170,0,7,415455,11,129,1,7594,13118,9,6,1,0,15,0,30,1,0
3,494436,0,11,143888,8,95,1,8890,15306,9,6,0,0,15,0,30,1,0
4,1354554,0,19,127648,4,41,1,6946,2922,6,2,2,0,25,0,28,1,0

In [4]:
data = data.drop(columns=['Unnamed: 0'])
data.head()

,weekday,hour,IP,region,city,adexchange,domain,slotid,slotwidth,slotheight,slotvisibility,slotformat,creative,advertiser,useragent,slotprice,click
0,0,20,204670,7,86,0,1668,41659,9,6,2,1,15,0,30,0,0
1,0,22,415654,11,127,0,3334,41636,6,2,2,1,45,4,30,0,0
2,0,7,415455,11,129,1,7594,13118,9,6,1,0,15,0,30,1,0
3,0,11,143888,8,95,1,8890,15306,9,6,0,0,15,0,30,1,0
4,0,19,127648,4,41,1,6946,2922,6,2,2,0,25,0,28,1,0

In [5]:
cols = data.columns.tolist()
print(cols)

['weekday', 'hour', 'IP', 'region', 'city', 'adexchange', 'domain', 'slotid', 'slotwidth', 'slotheight', 'slotvisibility', 'slotformat', 'creative', 'advertiser', 'useragent', 'slotprice', 'click']

In [6]:
cols = cols[-1:] + cols[:-1]
cols

['click',
 'weekday',
 'hour',
 'IP',
 'region',
 'city',
 'adexchange',
 'domain',
 'slotid',
 'slotwidth',
 'slotheight',
 'slotvisibility',
 'slotformat',
 'creative',
 'advertiser',
 'useragent',
 'slotprice']

In [7]:
data = data[cols]

In [8]:
data.head()

,click,weekday,hour,IP,region,city,adexchange,domain,slotid,slotwidth,slotheight,slotvisibility,slotformat,creative,advertiser,useragent,slotprice
0,0,0,20,204670,7,86,0,1668,41659,9,6,2,1,15,0,30,0
1,0,0,22,415654,11,127,0,3334,41636,6,2,2,1,45,4,30,0
2,0,0,7,415455,11,129,1,7594,13118,9,6,1,0,15,0,30,1
3,0,0,11,143888,8,95,1,8890,15306,9,6,0,0,15,0,30,1
4,0,0,19,127648,4,41,1,6946,2922,6,2,2,0,25,0,28,1

In [9]:
# data.to_csv('data/index_first_testing.csv', header = False, index=False)

In [10]:
train_x = data.drop(columns=['click'])
train_x.head()

,weekday,hour,IP,region,city,adexchange,domain,slotid,slotwidth,slotheight,slotvisibility,slotformat,creative,advertiser,useragent,slotprice
0,0,20,204670,7,86,0,1668,41659,9,6,2,1,15,0,30,0
1,0,22,415654,11,127,0,3334,41636,6,2,2,1,45,4,30,0
2,0,7,415455,11,129,1,7594,13118,9,6,1,0,15,0,30,1
3,0,11,143888,8,95,1,8890,15306,9,6,0,0,15,0,30,1
4,0,19,127648,4,41,1,6946,2922,6,2,2,0,25,0,28,1

In [10]:
from sklearn.decomposition import PCA
pca = PCA(n_components=8)
principalComponents = pca.fit_transform(train_x)
principalDf = pd.DataFrame(data = principalComponents
             , columns = ['principal component 1', 'principal component 2', 
                         'principal component 3', 'principal component 4', 
                          'principal component 5', 'principal component 6', 
                          'principal component 7', 'principal component 8', 
                         ])

In [11]:
principalDf.head()

,principal component 1,principal component 2,principal component 3,principal component 4,principal component 5,principal component 6,principal component 7,principal component 8
0,26059.070220,-7625.011877,2945.216109,-84.308302,-10.090484,-6.720548,-1.963272,5.642096
1,-184924.755910,-7623.946926,1257.257550,-40.334733,19.950767,-10.035624,-1.566873,2.331407
2,-184755.539297,21198.060276,404.719652,-52.260304,-6.433063,6.140710,-1.075518,2.798532
3,86813.673207,19460.942646,-1094.427959,-89.847708,-6.762376,2.229580,-1.183878,2.752200
4,103040.546618,31544.383123,2305.367417,-149.344493,4.194577,-5.793978,-1.150397,0.037324

In [12]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
lda = LDA()
X_train_lda = lda.fit_transform(train_x, data['click'])
# X_test_lda = lda.transform(X_test_std)
X_train_lda.shape

(1599999, 1)

In [13]:
train_x.head()

,weekday,hour,IP,region,city,adexchange,domain,slotid,slotwidth,slotheight,slotvisibility,slotformat,creative,advertiser,useragent,slotprice
0,0,20,204670,7,86,0,1668,41659,9,6,2,1,15,0,30,0
1,0,22,415654,11,127,0,3334,41636,6,2,2,1,45,4,30,0
2,0,7,415455,11,129,1,7594,13118,9,6,1,0,15,0,30,1
3,0,11,143888,8,95,1,8890,15306,9,6,0,0,15,0,30,1
4,0,19,127648,4,41,1,6946,2922,6,2,2,0,25,0,28,1

In [14]:
len(train_x)

1599999

In [ ]:
from sklearn.decomposition import KernelPCA
kpca = KernelPCA(n_components=2, kernel='poly')
X_kpca = kpca.fit_transform(train_x)

X_kpca.shape

In [11]:
from sklearn.decomposition import FastICA
ica = FastICA(n_components=3)
x_ica = ica.fit_transform(train_x)

In [13]:
x_ica.shape

(1599999, 3)